*.png
*.jpg
*.jpeg
!RealCoordinatesCalculator/flags_on_drone_2026.png

*.txt
*.xml
*.json

*.pyc

desktop.ini

for_inbal/     
TernsTags/
TrackingTerns/TrackingResult/
YoloDetector/test_images/
YoloDetector/TrainedVersions/
YoloDetector/TrainingData/
YoloDetector/TrainingVersions/
YoloDetector/YoloResults/
# Camera credentials
*.ini
RealCoordinatesCalculator/new_camera.ini
